{% extends "gamecatalog/base.html" %}

{% load static %}

{% block styles %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'gamecatalog/details_style.css' %}">
{% endblock styles %}

{% block content %}

    <div class="container-fluid no-padding">

        <div class="row">

            <div class="col-6 details-column">
                <div class="headline">
                     <h1 class="details-name">
                        {{ game.name }}
                     </h1>

                    {% for keyword in game.keywords %}
                        <span class="details-tag">
                             {{ keyword }}
                        </span>
                    {% endfor %}

                </div>

                <h7 class="details-genre">
                    {{ game.genres|join:" " }}
                </h7>

                <h3 class="details-title">
                    Description
                </h3>

                <p class="details-text">

                    {{ game.summary }}

                </p>

                <h3 class="details-title">
                    Release Date
                </h3>

                <p class="details-text">
                    {% if game.release_dates.0 %}
                        {{ game.release_dates.0 }}
                    {% else %}
                        Unknown
                    {% endif %}
                </p>

                <h3 class="details-title">
                    Screenshots
                </h3>

                <div class="container-fluid no-padding margin-top">
                        {% for screenshot in game.screenshots|slice:":6" %}

                            {% if forloop.counter0|divisibleby:"3" == True %}

                                <div class="row margin-top">

                            {% endif %}

                            <div class="col-4">
                                <img class="screenshot" src="https://{{screenshot}}" />
                            </div>

                            {% if forloop.counter0|add:"1"|divisibleby:"3" == True %}

                                </div>

                            {% elif forloop.last %}

                                </div>

                            {% endif %}

                        {% endfor %}
                </div>
            </div>

            <div class="col-3 details-column tags-column">

                <h3 class="details-title">
                    Ratings
                </h3>

                <div class="ratings green-background">
                    <span class="rating-title">Users</span>

                    <span class="rating-content">
                        {{game.rating}} ({% if game.rating_count %} {{game.rating_count}} {% else %}no {% endif %} reviews)
                    </span>
                </div>

                <div class="ratings orange-background margin-top">
                    <span class="rating-title">Critics</span>

                    <span class="rating-content">
                        {{game.aggregated_rating}} ({% if game.aggregated_rating_count %} {{game.rating_count}} {% else %}no {% endif %} reviews)
                    </span>
                </div>

                <h3 class="details-title">
                    Genres
                </h3>

                {% for genre in game.genres %}
                    <span class="details-tag">
                        {{ genre }}
                    </span>
                {% endfor %}

                <h3 class="details-title">
                    Platforms
                </h3>

                {% if game.platforms %}

                    {% for platform in game.platforms %}

                        <span class="details-tag margin-left">
                            {{ platform }}
                        </span>

                    {% endfor %}

                {% else %}

                    <span class="details-tag margin-left">
                            Unknown
                    </span>

                {% endif %}

            </div>

            <div class="col-3 details-column">

                <h1 class="details-name">
                    #Pacman Tweets
                </h1>

                <div class="tweet-card">

                    <p class="tweet-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aut consectetur consequuntur culpa deleniti eius est laborum modi nam nulla odio, officiis praesentium provident quo sunt suscipit tempora veniam voluptates?
                    </p>

                    <span class="tweet-date">
                        15.03.2018 20:20
                    </span>

                    <span class="tweet-author">
                        @tweet_author
                    </span>

                </div>

                <div class="tweet-card">

                    <p class="tweet-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aut consectetur consequuntur culpa deleniti eius est laborum modi nam nulla odio, officiis praesentium provident quo sunt suscipit tempora veniam voluptates?
                    </p>

                    <span class="tweet-date">
                        15.03.2018 20:20
                    </span>

                    <span class="tweet-author">
                        @tweet_author
                    </span>

                </div>

                <div class="tweet-card">

                    <p class="tweet-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aut consectetur consequuntur culpa deleniti eius est laborum modi nam nulla odio, officiis praesentium provident quo sunt suscipit tempora veniam voluptates?
                    </p>

                    <span class="tweet-date">
                        15.03.2018 20:20
                    </span>

                    <span class="tweet-author">
                        @tweet_author
                    </span>

                </div>

                <div class="tweet-card">

                    <p class="tweet-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aut consectetur consequuntur culpa deleniti eius est laborum modi nam nulla odio, officiis praesentium provident quo sunt suscipit tempora veniam voluptates?
                    </p>

                    <span class="tweet-date">
                        15.03.2018 20:20
                    </span>

                    <span class="tweet-author">
                        @tweet_author
                    </span>

                </div>

                <div class="tweet-card">

                    <p class="tweet-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aut consectetur consequuntur culpa deleniti eius est laborum modi nam nulla odio, officiis praesentium provident quo sunt suscipit tempora veniam voluptates?
                    </p>

                    <span class="tweet-date">
                        15.03.2018 20:20
                    </span>

                    <span class="tweet-author">
                        @tweet_author
                    </span>

                </div>

            </div>

        </div>

    </div>

{% endblock content %}
