{% extends "gamecatalog/base.html" %}

{% load static %}

{% block styles %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'gamecatalog/details_style.css' %}">
{% endblock styles %}

{% block content %}

    <div class="container-fluid no-padding">

        <div class="row">

            <div class="col-6 details-column">
                <div>
                     <h1 class="details-name">
                        PACMAN
                     </h1>

                     <span class="details-tag">
                         MUST
                     </span>
                </div>

                <h7 class="details-genre">
                    arcade oldschool
                </h7>

                <h3 class="details-title">
                    Description
                </h3>

                <p class="details-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consectetur ea facere harum id impedit nam nesciunt tempore tenetur voluptas? Debitis illum ipsam pariatur possimus quasi totam veniam. Consequatur, saepe!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci earum ex illo magni nam repellendus saepe. Aliquid at consequatur, dicta doloremque enim error fuga libero nam provident quam repellat rerum.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam assumenda at autem deserunt distinctio minima neque officia officiis quasi quibusdam quos reiciendis reprehenderit, sint soluta. Ab distinctio eum fugiat?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores consequuntur, cumque deleniti distinctio eius excepturi id ipsa labore laboriosam laborum magni nemo obcaecati perferendis sapiente sequi unde voluptas voluptates.

                </p>

                <h3 class="details-title">
                    Release Date
                </h3>

                <p class="details-text">
                    Nov 1992
                </p>

                <h3 class="details-title">
                    Screenshots
                </h3>

                <div class="container-fluid no-padding margin-top">
                    <div class="row">
                        <div class="col">
                            <img class="screenshot" src="{% static 'gamecatalog/images/pacman_screenshot.png' %}" />
                        </div>
                        <div class="col">
                            <img class="screenshot" src="{% static 'gamecatalog/images/pacman_screenshot.png' %}" />
                        </div>
                        <div class="col">
                            <img class="screenshot" src="{% static 'gamecatalog/images/pacman_screenshot.png' %}" />
                        </div>
                    </div>

                    <div class="row margin-top">
                        <div class="col">
                            <img class="screenshot" src="{% static 'gamecatalog/images/pacman_screenshot.png' %}" />
                        </div>
                        <div class="col">
                            <img class="screenshot" src="{% static 'gamecatalog/images/pacman_screenshot.png' %}" />
                        </div>
                        <div class="col">
                            <img class="screenshot" src="{% static 'gamecatalog/images/pacman_screenshot.png' %}" />
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-3 details-column">col-3</div>

            <div class="col-3 details-column">col-3</div>

        </div>

    </div>

{% endblock content %}
