{% extends "gamecatalog/base/base.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'gamecatalog/favs_style.css' %}">
{% endblock styles %}

{% block content %}
    <div class="content">
        <h1 class="title">My MUST</h1>

        <div class="container">
            {% for favourite in favourites %}
                {% if forloop.counter0|divisibleby:"6" == True %}
                    <div class="row top-buffer">
                {% endif %}

                <div class="col-2 game">
                    <img class="game-img" src="https://{{ favourite.game.cover_url }}" />

                    <div class="container nopadding">
                        <div class="row nopadding">
                            <div class="col-7 nopadding">
                                <a href="{% url 'gamecatalog:details' favourite.game.id %}">
                                    <h3 class="game-name">{{ favourite.game.name }}</h3>
                                    <p class="game-text">{% if favourite.game.keywords.0 %}{{ favourite.game.keywords.0 }}{% endif %}</p>
                                    {% comment %} TODO: create custom template filter <p class="game-text">Users added: {{ favourite.game.users_added }}</p> {% endcomment %}
                                </a>    
                            </div>
                            <div class="col-5 nopadding">
                                <a class="game-must" id="{{favourite.game.id}}">UnMUST</a>
                            </div>
                        </div>
                    </div>
                    
                </div>

                {% if forloop.counter0|add:"1"|divisibleby:"6" == True %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% comment %} <div class="pages">

            {% for i in '123'|make_list %}

                <a class="page-button {% if current_page == forloop.counter %} current {% endif %}"
                        href="{% url 'gamecatalog:favs' %}?page={{ forloop.counter }}">
                    {{ forloop.counter }}
                </a>

            {% endfor %}
        </div> {% endcomment %}

        {% comment %} TODO: complete pagination {% endcomment %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; 1</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>

        {% comment %} Not my code below, used for getting csrf token {% endcomment %}
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(".game-must").click(function() {
            var id = $(this).attr("id");
            var text = $(this).text();

            if (text == 'UnMUST') {
                $.ajax({
                    url: '/ajax/favs/delete/' + id + '/',
                    dataType: 'json',
                    method: 'DELETE',
                    success: function(data) {
                        if (data.success) {
                            $("#" + id).addClass("green").text("ReMUST");
                        }

                        alert(data.message);
                    },
                });
            } 
            else if (text == 'ReMUST') {
                $.ajax({
                    url: '/ajax/favs/restore/' + id + '/',
                    dataType: 'json',
                    method: 'POST',
                    success: function(data) {
                        if (data.success) {
                            $("#" + id).removeClass("green").text("UnMUST");
                        }

                        alert(data.message);
                    },
                });
            }
        });
    </script>
{% endblock scripts %}