{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'gamecatalog/style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="header">
    <a href="{% url 'gamecatalog:index' %}">
      <img class="header_icon" src="{% static 'gamecatalog/images/header_icon.svg' %}" />
        <h1 class="header_text">GameMuster</h1>
    </a>
</div>
