{% extends "gamecatalog/base.html" %}

{% block content %}
<div>

    <input type="checkbox" id="side-checkbox" />
    <div class="side-panel">
        <label class="side-button-2" for="side-checkbox">
            <span class="glyphicon glyphicon-play rotate" aria-hidden="true"></span>
        </label>

        <h3 class="side-title">Filters</h3>

        <hr>
    </div>

    <div class="side-button-1-wr">
        <label class="side-button-1" for="side-checkbox">
            <div class="side-b side-open"><span class="glyphicon glyphicon-play rotate" aria-hidden="true"></span></div>
        </label>
    </div>

    <div class="games_container">
        <div class="search_bar">
            <form>
                <div class="search">
                    <input type="search" placeholder="Search...">
                    <input type="submit" value="">
                </div>
            </form>
        </div>

        <div class="container games">
            <div class="row">
                <div class="col-sm text-center">
                    <div class="game_card">
                        <div class="game_info">
                            <h1 class="game_name">PACMAN</h1>
                            <p class="game_genre">arcade oldschool</p>

                            <div class="game_tags">
                                <span class="game_tag">
                                    Open
                                </span>
                                <span class="game_tag">
                                    MUST
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm text-center">
                  <div class="game_card">
                        <div class="game_info">
                            <h1 class="game_name">PACMAN</h1>
                            <p class="game_genre">arcade oldschool</p>

                            <div class="game_tags">
                                <span class="game_tag">
                                    Open
                                </span>
                                <span class="game_tag">
                                    MUST
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm text-center">
                  <div class="game_card">
                        <div class="game_info">
                            <h1 class="game_name">PACMAN</h1>
                            <p class="game_genre">arcade oldschool</p>

                            <div class="game_tags">
                                <span class="game_tag">
                                    Open
                                </span>
                                <span class="game_tag">
                                    MUST
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="row top-buffer">
                <div class="col-sm text-center">
                    <div class="game_card">
                        <div class="game_info">
                            <h1 class="game_name">PACMAN</h1>
                            <p class="game_genre">arcade oldschool</p>

                            <div class="game_tags">
                                <span class="game_tag">
                                    Open
                                </span>
                                <span class="game_tag">
                                    MUST
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm text-center">
                  <div class="game_card">
                        <div class="game_info">
                            <h1 class="game_name">PACMAN</h1>
                            <p class="game_genre">arcade oldschool</p>

                            <div class="game_tags">
                                <span class="game_tag">
                                    Open
                                </span>
                                <span class="game_tag">
                                    MUST
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm text-center">
                  <div class="game_card">
                        <div class="game_info">
                            <h1 class="game_name">PACMAN</h1>
                            <p class="game_genre">arcade oldschool</p>

                            <div class="game_tags">
                                <span class="game_tag">
                                    Open
                                </span>
                                <span class="game_tag">
                                    MUST
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pages">
            <button class="page_button current">
                1
            </button>
            <button class="page_button">
                2
            </button>
            <button class="page_button">
                3
            </button>
        </div>
    </div>
</div>

{% endblock content %}