{% extends "gamecatalog/base/base.html" %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
          $( function() {
            $( "#slider-range" ).slider({
              range: true,
              min: 0,
              max: 10,
              values: [ {% if rating_from %} {{ rating_from }} {% else %}0{% endif %}, {% if rating_to %} {{ rating_to }} {% else %}10{% endif %} ],
              slide: function( event, ui ) {
                $( "#rating_from" ).val( ui.values[ 0 ] );
                $( "#rating_to" ).val( ui.values[ 1 ] );
              }
            });

            $( "#rating_from" ).val( $( "#slider-range" ).slider( "values", 0 ) );

            $( "#rating_to" ).val( $( "#slider-range" ).slider( "values", 1 ) );
          } );
</script>

{% endblock scripts %}

{% block header %}
    {% include 'gamecatalog/base/base_header.html' %}
{% endblock header %}

{% block content %}

{% load static %}

<div>

    <input type="checkbox" id="side-checkbox" />
    <div class="side-panel">
        <label class="side-button-2" for="side-checkbox">
            <span class="glyphicon glyphicon-play rotate" aria-hidden="true"></span>
        </label>

        <h3 class="side-title">Filters</h3>

        <hr>

        <form action="{% url 'gamecatalog:index' %}"
              method="get">

            <input name="search" style="display:none;" value="{{ search_query }}"/>

            <div class="filters">
                <h5 class="side-subtitle">Platforms</h5>

                <hr class="subtitle-line">

                 <div class="platform-filters">

                     {% for platform in platforms %}

                        <input type="checkbox" id="{{platform.slug}}" name="{{platform.slug}}" class="filter-checkbox"
                               {% if platform.id in checked_platforms_ids %}checked{%endif%}/>

                        <label for="{{platform.slug}}">
                            <span class="filter-tag">
                                <span class="{{platform.slug}}-checked">+</span>
                                     {{platform.slug}}
                            </span>
                        </label>

                        <style>
                            .{{platform.slug}}-checked {
                                display: none;
                            }

                            #{{platform.slug}}:checked + label .filter-tag .{{platform.slug}}-checked {
                                display: inline;
                            }
                        </style>

                     {% endfor %}

                </div>

                <h5 class="side-subtitle">Genres</h5>

                <hr class="subtitle-line">

                <div class="genre-filters">
                     {% for genre in genres %}

                        <input type="checkbox" id="{{genre.slug}}" name="{{genre.slug}}" class="filter-checkbox"
                               {% if genre.id in checked_genres_ids %}checked{%endif%}/>

                        <label for="{{genre.slug}}">
                            <span class="filter-tag">
                                <span class="{{genre.slug}}-checked">+</span>
                                     {{genre.slug}}
                            </span>
                        </label>

                        <style>
                            .{{genre.slug}}-checked {
                                display: none;
                            }

                            #{{genre.slug}}:checked + label .filter-tag .{{genre.slug}}-checked {
                                display: inline;
                            }
                        </style>

                     {% endfor %}
                </div>

                <h5 class="side-subtitle">User rating</h5>

                <br>

                <p>
                    <input type="text" class="rating-range" id="rating_from" name="rating_from" readonly> -
                    <input type="text" class="rating-range" id="rating_to" name="rating_to" readonly>
                </p>

                <div id="slider-range"></div>

                <button class="apply-filters">Apply</button>
            </div>
        </form>

    </div>

    <div class="side-button-1-wr">
        <label class="side-button-1" for="side-checkbox">
            <div class="side-b side-open"><span class="glyphicon glyphicon-play rotate" aria-hidden="true"></span></div>
        </label>
    </div>

    <div class="games-container">
        <div class="search-bar">
            <form action="{% url 'gamecatalog:index' %}" method="get">
                <div class="search">
                    <input type="search" placeholder="Search..." name="search" value="{{ search_query }}">
                    <input type="submit" value="">
                </div>
            </form>
        </div>

        <div class="container games">

                {% for game in games %}

                    {% ifequal forloop.counter0|divisibleby:"3" True %}
                        <div class="row top-buffer">
                    {% endifequal %}

                        <div class="col-sm text-center">
                            <a href="{% url 'gamecatalog:details' game.id %}">
                                <div class="game-card" style="background-image: url(https://{{ game.cover }})">

                                    <div class="game-info">
                                        <h1 class="game-name">{{ game.name }}</h1>
                                        <p class="game-genre">{{ game.genres|join:" " }}</p>

                                        <div class="game-tags">

                                            {% for keyword in game.keywords %}
                                                <span class="game-tag">
                                                    {{ keyword }}
                                                </span>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>

                    {% ifequal forloop.counter0|add:"1"|divisibleby:"3" True %}
                        </div>
                    {% endifequal %}
                {% endfor %}
            </div>

        <div class="pages">

            {% for i in '123'|make_list %}

                <a class="page-button {% if current_page == forloop.counter %} current {% endif %}"
                        href="{% url 'gamecatalog:index' %}?page={{ forloop.counter }}{{ filter_params }}">
                    {{ forloop.counter }}
                </a>

            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}