{% extends "gamecatalog/base.html" %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
          $( function() {
            $( "#slider-range" ).slider({
              range: true,
              min: 0,
              max: 10,
              values: [ 2, 10 ],
              slide: function( event, ui ) {
                $( "#amount" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
              }
            });
            $( "#amount" ).val( $( "#slider-range" ).slider( "values", 0 ) +
              " - " + $( "#slider-range" ).slider( "values", 1 ) );
          } );
</script>

{% endblock scripts %}

{% block content %}

{% load static %}

<div>

    <input type="checkbox" id="side-checkbox" />
    <div class="side-panel">
        <label class="side-button-2" for="side-checkbox">
            <span class="glyphicon glyphicon-play rotate" aria-hidden="true"></span>
        </label>

        <h3 class="side-title">Filters</h3>

        <hr>

        <form>

            <div class="filters">
                <h5 class="side-subtitle">Platforms</h5>

                <hr class="subtitle-line">

                 <div class="platform-filters">
                     <input type="checkbox" id="PC" class="filter-checkbox"/>

                     <label for="PC">
                         <span class="filter-tag">
                             <span class="PC-checked">+</span>
                             PC
                        </span>
                     </label>

                     <input type="checkbox" id="PS4" class="filter-checkbox"/>
                     <label for="PS4">
                         <span class="filter-tag">
                             <span class="PS4-checked">+</span>
                             PS4
                        </span>
                     </label>
                </div>

                <h5 class="side-subtitle">Genres</h5>

                <hr class="subtitle-line">

                <div class="genre-filters">
                    <input type="checkbox" id="Platformer" class="filter-checkbox"/>

                    <label for="Platformer">
                        <span class="filter-tag">
                            <span class="Platformer-checked">+</span>
                            Platformer
                        </span>
                    </label>
                </div>

                <h5 class="side-subtitle">User rating</h5>

                <br>

                <p>
                  <input type="text" class="rating-range" id="amount" readonly>
                </p>

                <div id="slider-range"></div>

                <button class="apply-filters">Apply</button>
            </div>
        </form>

    </div>

    <div class="side-button-1-wr">
        <label class="side-button-1" for="side-checkbox">
            <div class="side-b side-open"><span class="glyphicon glyphicon-play rotate" aria-hidden="true"></span></div>
        </label>
    </div>

    <div class="games-container">
        <div class="search-bar">
            <form>
                <div class="search">
                    <input type="search" placeholder="Search...">
                    <input type="submit" value="">
                </div>
            </form>
        </div>

        <div class="container games">

                {% for game in games|slice:":6" %}

                    {% ifequal forloop.counter0|divisibleby:"3" True %}
                        <div class="row top-buffer">
                    {% endifequal %}

                        <div class="col-sm text-center">
                            <a href="{% url 'gamecatalog:details' game.id %}">
                                <div class="game-card" style="background-image: url(https://{{ game.cover }})">

                                <div class="game-info">
                                    <h1 class="game-name">{{ game.name }}</h1>
                                    <p class="game-genre">{{ game.genres|join:" " }}</p>

                                    <div class="game-tags">

                                        {% for keyword in game.keywords %}
                                            <span class="game-tag">
                                                {{ keyword }}
                                            </span>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            </a>

                        </div>

                    {% ifequal forloop.counter0|add:"1"|divisibleby:"3" True %}
                        </div>
                    {% endifequal %}
                {% endfor %}
            </div>

        <div class="pages">
            <button class="page-button current">
                1
            </button>
            <button class="page-button">
                2
            </button>
            <button class="page-button">
                3
            </button>
        </div>
    </div>
</div>

{% endblock content %}