{% extends "gamecatalog/base/base.html" %}

{% load static %}

{% block styles %}

    <link rel="stylesheet" type="text/css" href="{% static 'gamecatalog/auth_style.css' %}">

{% endblock styles %}

{% block content %}

     {% load widget_tweaks %}

    <form method="post" class="auth-form">
        {% csrf_token %}

        <h1 class="auth-name">Log in</h1>

        <div class="container">

            {% if form.errors %}
                {{ form.non_field_errors }}
            {% endif %}

            {% for field in form %}

                <div class="row">
                    <div class="col-5 text-right auth-label">
                        {{ field.label }}
                    </div>

                    <div class="col-7 text-left">
                        {{ field|add_class:"auth-input" }}
                    </div>
                </div>

                <br>

            {% endfor %}
        </div>

        <button type="submit" class="auth-button">Log in</button>
    </form>

{% endblock content %}