
.profile-header {
    float: right;
}

li.profile-item {
    display: inline-block;
    padding-top: 5px;
    margin-left: 8px;
}

.profile-greeting {
    color: white;
    font-size: 24px;
    font-weight: 800;
    margin: 0;
}

a.profile-button {
    font-size: 24px;
    font-weight: 800;
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
    text-decoration: none;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

a.green {
    background-color: #88C452;
    color: white;
}

a.white {
    background-color: white;
    color: #E23232;
}